


<div class ="busqueda">
  <%= form_for @search do |f| %>
    <%= f.text_field :nombre_contains, :class => "campo_busqueda" %>
    <%= f.submit :buscar %>
  <% end %>
</div>

<div class ="titulo"><h1>Listado de dependencias</h1></div>

<button id="link"><%= link_to 'Nueva Dependencia', new_dependencia_path %></button>

<%= will_paginate @dependencias , :previous_label => "Anterior", :next_label => "Siguiente", :class => "paginacion" %>

<table class="tabla_scaffold" width="98%">
<% @dependencias.each do |dependencia| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
<td class="list_description">
<dl>
<dt> <%= dependencia.nombre %></dt>
<dd> Tipo de dependencia: <%= dependencia.tipo_dependencia %></dt>
</dl>
</td>
<td class="list_actions" width="5%">
    <%= link_to image_tag("open.png", :alt => "Mostrar", :title => "Mostrar", :size => "18x18"), dependencia %><br />
    <%= link_to image_tag("editpaste.png", :alt => "Editar", :title => "Editar", :size => "18x18"), edit_dependencia_path(dependencia) %><br />
    <%= link_to image_tag("cross.png", :alt => "Eliminar", :title => "Eliminar", :size => "18x18"), dependencia, :confirm => '¿Estas seguro?', :method => :delete %>
</td>
</tr>
<% end %>
</table>
<%= will_paginate @dependencias , :previous_label => "Anterior", :next_label => "Siguiente", :class => "paginacion" %>
<br />

<button id="link"><%= link_to 'Nueva Dependencia', new_dependencia_path %></button>
