<h1>Listing dependencias</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Tipo dependencia</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dependencias.each do |dependencia| %>
  <tr>
    <td><%= dependencia.nombre %></td>
    <td><%= dependencia.tipo_dependencia %></td>
    <td><%= link_to 'Mostrar', dependencia %></td>
    <td><%= link_to 'Editar', edit_dependencia_path(dependencia) %></td>
    <td><%= link_to 'Eliminar', dependencia, :confirm => '¿Estas seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Dependencia', new_dependencia_path %>
