<%= form_for(@area_conocimiento) do |f| %>
  <% if @area_conocimiento.errors.any? %>
    <div id="error_explanation">
     <h2><%= t('errors.template.header', :count=>@area_conocimiento.errors.size,:model=>t('activerecord.models.area_conocimiento')) %>.</h2>
	 <p><%= t('errors.template.body') %></p>

      <ul>
      <% @area_conocimiento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit t('.submit')%>
  </div>
<% end %>
