

<div class ="titulo"><h1>Listado de areas de conocimientos</h1></div>
<div class ="busqueda">
  <%= form_for @search do |f| %>
    <%= f.text_field :nombre_contains, :value => "Buscar por nombre", :onfocus =>"this.value=''", :onblur =>"this.value='Buscar por nombre'", :class => "campo_busqueda" %>
    <!-- etc... -->
    <%= f.submit :buscar%>
  <% end %>
</div>

<div style="line-height:25px;display: block;margin-bottom:30px;margin-top:20px;">

	<%= will_paginate(@libros, :renderer => PaginationListLinkRenderer, :first_label => "Primera",
	  :previous_label => "Anterior",
	  :summary_label => "%d - %d de %d",
	  :next_label => "Siguiente",
	  :last_label => "Última") %>
</div>

<table class="tabla_scaffold" width="100%">
<% @areas_conocimientos.each do |area_conocimiento| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
<td class="list_description">
<dl>
<dt> <%= area_conocimiento.nombre %></dt>
</dl>
</td>
<td class="list_actions" width="5%">
<%= link_to image_tag("open.png", :alt => "Mostrar", :title => "Mostrar", :size => "18x18"), area_conocimiento %><br />
<%= link_to image_tag("editpaste.png", :alt => "Editar", :title => "Editar", :size => "18x18"), edit_area_conocimiento_path(area_conocimiento) %><br />
<%= link_to image_tag("cross.png", :alt => "Eliminar", :title => "Eliminar", :size => "18x18"), area_conocimiento, :confirm => '¿Estas seguro?', :method => :delete %>
</td>
</tr>
<% end %>
</table>
<%= will_paginate @areas_conocimientos , :previous_label => "Anterior", :next_label => "Siguiente", :class => "paginacion" %>
<br />
<%= link_to 'Nueva Area de conocimiento', new_area_conocimiento_path, :id => "links" %>
