<div class ="mostrar">
<p>
  <b>Libro:</b>
  <%= link_to @ejemplar.libro.titulo_and_autor,ppal_estudiante_ver_libro_path(:id =>@ejemplar.libro.id)  %>
</p>

<p>
  <b>Cota del ejemplar:</b>
  <%= @ejemplar.cota %>
</p>


<p>
  <b>Costo alquiler:</b>
  <%= @ejemplar.costo_alquiler %>
</p>

<p>
  <b>Tipo adquisicion:</b>
  <%= @ejemplar.tipo_adquisicion %>
</p>

<p>
  <b>Fecha ingreso:</b>
  <%= @ejemplar.fecha_ingreso %>
</p>

<p>
  <b>Observacion:</b>
  <%= @ejemplar.observacion %>
</p>

<p>
  <b>Nro factura:</b>
  <%= @ejemplar.nro_factura %>
</p>


<p>
  <b>Estatus ejemplar:</b>
  <%= @ejemplar.estatus_ejemplar %>
</p>


</div>


<%= link_to 'Regresar', :back	, :id => "links" %>
