

<div class ="titulo"><h1>Alquileres realizados</h1></div>

<table class="tabla_scaffold" width="65%">
	<% @alquileres.each do |alquiler| %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

		<td class="list_description">
			<dl>
				<dd>Nro Alquiler : <%= alquiler.id %></dd>
				<dd>Fecha de inicio: <%= alquiler.created_at.strftime("%d/%m/%Y") %></dd>
				<dd>Fecha de culminación: <%= alquiler.fecha_fin.strftime("%d/%m/%Y") %></dd>
				<dd>Estatus: <%= alquiler.estatus %></dd>
			</dl>
		</td>
		<td class="ver_datos" width="35%">
			<%= link_to 'Ver Datos', ppal_estudiante_ver_datos_path(:id => alquiler.id),:id => "links" %>
			<%= link_to 'Comprobante',{:controller => "reportes", :action => "comprobante_alquiler", :id => alquiler.id}, :id => "links", :target => "_blank" %>
		</td>
	</tr>
	<% end %>
</table>


