<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<div class ="mostrar">
<p>
  <b>Cédula:</b>
  <%= link_to @donacion.usuario.cedula,@donacion.usuario %>
</p>

<p>
  <b>Nombre:</b>
  <%= @donacion.usuario.nombre %>
</p>

<p>
  <b>Cota:</b>
  <%= link_to @donacion.ejemplar.cota, @donacion.ejemplar %>
</p>
<p>
  <b>Ejemplar:</b>
  <%= @donacion.ejemplar.libro.titulo %>
</p>


</div>

<%= link_to 'Edtar', edit_donacion_path(@donacion), :id => "links" %> &nbsp
<%= link_to 'Regresar', donaciones_path, :id => "links" %>


