<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<p>
  <b>Ejemplar:</b>
  <%= @donacion.ejemplar %>
</p>

<p>
  <b>Usuario:</b>
  <%= @donacion.usuario %>
</p>

<br />
<%= link_to 'Editar', edit_donacion_path(@donacion) %> |
<%= link_to 'Regresar', donaciones_path %>
