<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
<%= form_for(@noticia) do |f| %>
  <% if @noticia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@noticia.errors.count, "error") %> ha impedido guardar la noticia:</h2>

      <ul>
      <% @noticia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>

  <div class="field">
	<%= f.label :tipo_contenido, 'Tipo de contenido ' %><br />
    <%= f.select "tipo_contenido",
                         "<option value = 'Noticia'>Noticia</option>
                          <option value = 'Historia'>Historia</option>
                          <option value = 'Servicio'>Servicio</option>
						  <option value = 'Normativa'>Normativa</option>	
						  <option value = 'Horario'>Horario</option>"	
	
                          %>
  </div>	

  <div class="field">
    <%= f.label :imagen %><br />
    <%= f.file_field :imagen %>
  </div>

  <div class="field">
    <%= f.label :contenido %>
    <%= f.text_area :contenido, :id => "textarea", :size => "150x10" %>
  </div>  	

  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
