<%= render(:partial => "layouts/login") %>

<div class ="busqueda">
  <%= form_for @search, :url => inicio_catalogo_path, :html => {:method => :get} do |f| %>
    <%= f.text_field :titulo_or_cota_or_isbn_contains, :value => "Buscar por cota, isbn o título", :onfocus =>"this.value=''", :onblur =>"this.value='Buscar por cota, isbn o título'", :class => "campo_busqueda" %> 
  
    <%= f.submit :buscar %>
  <% end %>
</div>

<div class ="titulo"><h1><%= link_to 'Catalogo de libros', inicio_catalogo_path %></h1></div>
<div style="margin-bottom:30px;">
	<%= render(:partial => "layouts/categorias") %>


	<div style="font-size:12px;float:left;">
	  Ordenar por:
	  <%= sort_link @search, :cota %> |
	  <%= sort_link @search, :isbn %> |
	  <%= sort_link @search, :titulo %>

	</div>
	
	<%= will_paginate(@libros, :renderer => PaginationListLinkRenderer, :first_label => "« Primera",
	  :previous_label => "Anterior",
	  :summary_label => "%d - %d de %d",
	  :next_label => "Siguiente",
	  :last_label => "Última") %>
</div>

<table class="tabla_scaffold" width="100%">
	<% @libros.each do |libro| %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
		<td width="5%">
			<% if libro.imagen_file_name == nil %>
				<%= image_tag("libro.png",:class => 'list_image') %>
			<% else %>
				<%= image_tag(libro.imagen.url(:thumb),:class => 'list_image') %>
			<% end %>
		</td>
		<td class="list_description">
			<dl>
			<dt><%= libro.titulo %></dt>
			<dd><%= libro.cota %></dd>
			<dd>Autor: <%= libro.autor %></dd>
			<dd>Isbn: <%= libro.isbn %></dd>
			</dl>
		</td>
	</tr>
	<% end %>
</table>

<%= will_paginate @libros , :previous_label => "Anterior", :next_label => "Siguiente", :class => "paginacion" %>
