<%= render(:partial => "layouts/login") %>

<div class ="busqueda">
  <%= form_for @search do |f| %>
    <%= f.text_field :titulo_or_cota_or_isbn_contains, :class => "campo_busqueda" %>      
    <%= f.submit :buscar %>
  <% end %>
</div>

<div class ="titulo"><h1>Catalogo de libros</h1></div>

	<%= will_paginate @libros , :previous_label => "Anterior", :next_label => "Siguiente", :class => "paginacion" %>

	<table class="tabla_scaffold" width="98%">
		<% @libros.each do |libro| %>
		<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
			<td width="5%">
				<% if libro.imagen_file_name == nil %>
					<%= image_tag("libro.png",:class => 'list_image') %>
				<% else %>
					<%= image_tag(libro.imagen.url(:thumb),:class => 'list_image') %>
				<% end %>
			</td>
			<td class="list_description">
				<dl>
				<dt><%= libro.titulo %></dt>
				<dd><%= libro.cota %></dd>
				<dd>Autor: <%= libro.autor %></dd>
				<dd>Isbn: <%= libro.isbn %></dd>
				</dl>
			</td>
		</tr>
		<% end %>
	</table>

	<%= will_paginate @libros , :previous_label => "Anterior", :next_label => "Siguiente", :class => "paginacion" %>
