<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>
<p>
  <b>Alquiler:</b>
  <%= @devolucion.alquiler %>
</p>

<p>
  <b>Fecha:</b>
  <%= @devolucion.fecha %>
</p>

<p>
  <b>Estatus:</b>
  <%= @devolucion.estatus %>
</p>

<p>
  <b>Line item:</b>
  <%= @devolucion.line_item %>
</p>

<br />
<%= link_to 'Editar', edit_devolucion_path(@devolucion) %> |
<%= link_to 'Regresar', devoluciones_path %>
