

<div class ="titulo"><h1>Listado de ejemplares</h1></div>

<div class ="busqueda">
  <%= form_for @search do |f| %>
    <%= f.label :Buscar, :class => "buscar" %>
    <%= f.text_field :libro_titulo_or_libro_cota_contains %>
      
    <%= f.submit :buscar %>
  <% end %>
</div>

<%= will_paginate @ejemplares , :previous_label => "Anterior", :next_label => "Siguiente", :class => "paginacion" %>

<table class="tabla_scaffold" width="98%">

<% @ejemplares.each do |ejemplar| %>

<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
	<td width="5%">
		<% if ejemplar.libro.imagen_file_name == nil %>
			<%= image_tag("libro.png",:class => 'list_image') %>
		<% else %>
			<%= image_tag(ejemplar.libro.imagen.url(:thumb),:class => 'list_image') %>
		<% end %>
	</td>
	<td class="list_description">
		<dl>
		<dt><%= ejemplar.cota %></dt>
		<dd><%= ejemplar.libro.titulo_and_autor %></dd>
		<dd>Autor: <%= ejemplar.costo_alquiler %></dd>
		<dd>Isbn: <%= ejemplar.libro.isbn %></dd>
		</dl>
	</td>
	<td class="list_actions" width="5%">
		<%= link_to image_tag("open.png", :alt => "Mostrar", :title => "Mostrar", :size => "18x18"), ejemplar %><br />
		<%= link_to image_tag("editpaste.png", :alt => "Editar", :title => "Editar", :size => "18x18"), edit_ejemplar_path(ejemplar) %><br />
		<%= link_to image_tag("cross.png", :alt => "Eliminar", :title => "Eliminar", :size => "18x18"), ejemplar, :confirm => '¿Estas seguro?', :method => :delete %>
	</td>
</tr>

<% end %>

</table>

<%= will_paginate @ejemplares , :previous_label => "Anterior", :next_label => "Siguiente", :class => "paginacion" %>

<br />

<%= link_to 'Nuevo Ejemplar', new_ejemplar_path, :id => "links" %>
