


<div class ="titulo"><h1>Listado de alquileres</h1></div>
<div class ="busqueda">
  <%= form_for @search do |f| %>
    <%= f.label :Buscar, :class => "buscar" %>
    <%= f.text_field :estatus_contains %>
    <!-- etc... -->
    <%= f.submit :buscar%>
  <% end %>
</div>

<%= will_paginate @alquileres , :previous_label => "Anterior", :next_label => "Siguiente", :class => "paginacion" %>

<table class="tabla_scaffold" width="98%">
<% @alquileres.each do |alquiler| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

<td class="list_description">
<dl>
<dt>Nombre: <%= alquiler.usuario.nombre %></dt>
<dd>Fecha de Inicio: <%= Date.strptime("31/01/2010", "%d/%m/%Y") %></dd>
<dd>Fecha de culminación: <%= alquiler.fecha_fin %></dd>
<dd><%= alquiler.estatus %></dd>
</dl>
</td>
<td class="list_actions" width="5%">
<%= link_to 'Mostrar', alquiler %>
<% if Usuario.find(session[:usuario_id]).rol == 'Administrador' %>
<%= link_to 'Editar', edit_alquiler_path(alquiler) %>
<%= link_to 'Eliminar', alquiler, :confirm => '¿Estas seguro?', :method => :delete %>
<% end %>	
</td>
</tr>
<% end %>
</table>
<%= will_paginate @alquileres , :previous_label => "Anterior", :next_label => "Siguiente", :class => "paginacion" %>




