<%= form_for(@configuracion) do |f| %>
  <% if @configuracion.errors.any? %>
    <div id="error_explanation">
     <h2><%= t('errors.template.header', :count=>@configuracion.errors.size,:model=>t('activerecord.models.configuracion')) %>.</h2>
	 <p><%= t('errors.template.body') %></p>

      <ul>
      <% @configuracion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :periodo, "Periodo: " %><br />
    <%= f.select "periodo", "<option value = '1'>1</option>
                          <option value = '2'>2</option>" %>
  </div>
  <div class="field">
    <%= f.label :ano, "Año: " %><br />
    <%= f.number_field :ano %>   
  </div>

  <div class="field">
    <%= f.label :fecha_inicio %><br />
    <%= f.date_select :fecha_inicio,:order => [:day, :month, :year]%>
  </div>
  <div class="field">
    <%= f.label :fecha_fin %><br />
    <%= f.date_select :fecha_fin, :order => [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :max_num_libro , "Máximo número de libros" %><br />
    <%= f.number_field :max_num_libro %>
  </div>
  <div class="field">
    <%= f.label :libro_repetido %><br />
    <%= f.check_box :libro_repetido %>
  </div>
  <div class="field">
    <%= f.label :tiempo_prealquiler %><br />
    <%= f.number_field :tiempo_prealquiler %>
  </div>
  <div class="field">
    <%= f.label :tipo_periodo %><br />
    <%= f.select "tipo_periodo", "<option value = 'Normal'>Normal</option>
                          <option value = 'Extraordinario'>Extraordinario</option>" %>
  </div>

  <div class="field">
    <%= f.label :activo, "Activa" %><br />
    <%= f.check_box :activo %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
