

<div class ="busqueda">
  <%= form_for @search do |f| %>
    <%= f.text_field :nombre_or_cedula_contains, :value => "Buscar por nombre o cédula", :onfocus =>"this.value=''", :onblur =>"this.value='Buscar por nombre o cédula'", :class => "campo_busqueda"  %>
    <!-- etc... -->
    <%= f.submit :buscar%>
  <% end %>
</div>

<div class ="titulo"><h1>Listado de usuarios</h1></div>

<%= link_to 'Nuevo usuario', new_usuario_path, :id => "links" %>

<br />
<%= will_paginate @usuarios , :previous_label => "Anterior", :next_label => "Siguiente", :class => "paginacion" %>

<table class="tabla_scaffold" width="98%">
<% @usuarios.each do |usuario| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
<td class="list_description">
<dl>
<dd> Nombre: <%= usuario.nombre %></dd>
<dd> Cédula: <%= usuario.cedula %></dd>
<dd> Correo: <%= usuario.correo %></dd>
<dd> Unid. creditos: <%= usuario.unid_creditos %></dd>
<dd> Dependencia: <%=link_to usuario.dependencia.nombre,usuario.dependencia  %></dd>
<dd> Rol: <%= usuario.rol %></dd>
</dl>
</td>
<td class="list_actions" width="5%">
    <%= link_to image_tag("open.png", :alt => "Mostrar", :title => "Mostrar", :size => "18x18"), usuario %><br />
    <%= link_to image_tag("editpaste.png", :alt => "Editar", :title => "Editar", :size => "18x18"), edit_usuario_path(usuario) %><br />
    <%= link_to image_tag("cross.png", :alt => "Eliminar", :title => "Eliminar", :size => "18x18"), usuario, :confirm => 'Estas Seguro(a)?', :method => :delete %>
</td>
</tr>
<% end %>
</table>
<%= will_paginate @usuarios , :previous_label => "Anterior", :next_label => "Siguiente", :class => "paginacion" %>

<br />

<button id="link"><%= link_to 'Nuevo Usuario', new_usuario_path %></button>
