  <div class = "editar_titulo"><h1>Resultados de la búsqueda</h1></div><br /><br />
  <%= image_tag(@imagen,:class => 'list_image' )  %><br />
  <div class="field">
    <%= label :titulo, 'título' %><br />
    <%= text_field_tag 'titulo', @titulo %>
  </div>
  <div class="field">
    <%= label :autor, 'autor' %><br />
    <%= text_field_tag 'autor', @autor %>
  </div>
  <div class="field">
    <%= label :isbn, 'imagen' %><br />
    <%= text_field_tag 'imagen', @imagen %>
  </div>
  <div class="field">
    <%= label :isbn, 'año' %><br />
    <%= text_field_tag 'ano', @ano %>
  </div>
  <div class="field">
    <%= label :isbn, 'isbn' %><br />
    <%= text_field_tag 'isbn', @isbn %>
  </div>
  <div class="field">
    <%= label :isbn, 'editorial' %><br />
    <%= text_field_tag 'editorial', @editorial %>
  </div>





