

<div class ="titulo"><h1>Listado de libros</h1></div>
<div class ="busqueda">
  <%= form_for @search do |f| %>
    <%= f.label :Buscar, :class => "buscar" %>
    <%= f.text_field :cota_or_isbn_or_titulo_contains %>
    <!-- etc... -->
    <%= f.submit :buscar%>
  <% end %>
</div>

<%= will_paginate @libros , :previous_label => "Anterior", :next_label => "Siguiente", :class => "paginacion" %>

<table class="tabla_scaffold" width="98%">
<% @libros.each do |libro| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
<td width="5%">
<%= image_tag(libro.imagen.url(:thumb),:class => 'list_image') %>
</td>
<td class="list_description">
<dl>
<dt><%= libro.titulo %></dt>
<dd><%= libro.cota %></dd>
<dd>Autor: <%= libro.autor %></dd>
<dd>Isbn: <%= libro.isbn %></dd>
</dl>
</td>
<td class="list_actions" width="5%">
<%= link_to 'Mostrar', libro %><br />
<%= link_to 'Editar', edit_libro_path(libro) %><br />
<%= link_to 'Eliminar', libro, :confirm => '¿Estas seguro?', :method => :delete %>
</td>
</tr>
<% end %>
</table>
<%= will_paginate @libros , :previous_label => "Anterior", :next_label => "Siguiente", :class => "paginacion" %>

<br />

<button id="link"><%= link_to 'Nuevo Libro', new_libro_path %></button>

