<div class="Footer">
			<div class="Footer-text">
				<ul>
					<li class ="nolink">Información General</li>
					<li class="link"><%= link_to "Inicio", inicio_index_path %></li>
					<li class="link"><%= link_to "Historia", informacion_historia_path %></li>
					<li class="link"><%= link_to "Servicios", informacion_servicios_path %></li>
					<li class="link"><%= link_to "Normativas", informacion_normativas_path %></li>
					<li class="link"><%= link_to "Horarios", informacion_horarios_path %></li>
					<li class="link"><%= link_to "Catálogo de libros", inicio_catalogo_path %></li>
				</ul>
				<ul>
					<li class ="nolink">Enlaces de Interés:</li>
					<li class ="link"><a href="http://www.ciens.ucv.ve/ccc" target="_blank">Centro de Computación</a></li>
					<li class ="link"><a href="http://www.ciens.ucv.ve/cestudio/index.php" target="_blank">Control de Estudios</a></li>
					<li class ="link"><a href="http://www.ciens.ucv.ve/ciencias/servicio_comunitario/index.htm" target="_blank">Servicio Comunitario</a></li>
					<li class ="link"><a href="http://www.ceneac.com.ve/" target="_blank">CENEAC</a></li>
					<li class ="link"><a href="http://www.ciens.ucv.ve/locti/" target="_blank">LOCTI</a></li>
					<li class ="link"><a href="http://www.ciens.ucv.ve/ciencias/servicio_orientacion.htm" target="_blank">Servicio de Orientación</a></li>
				</ul>
				<ul>
					<li class ="nolink">Av. Los Ilustres,</li>
					<li class ="nolink">Los Chaguaramos.</li>
					<li class ="link"><a href="http://www.ciens.ucv.ve" target="_blank">Facultad de Ciencias,</a></li>
					<li class ="link"><a href="http://www.ucv.ve" target="_blank">Universidad Central de Venezuela.</a></li>
					<li class ="nolink">Caracas zona postal 1040</li>
					<li class ="nolink">Apartado Postal 20513</li>
					<li class ="nolink">Teléfono: (58212) 6051671/ 1665 / 2136 (FAX)</li>
				</ul>					
			</div>
	</div>
