
	<script>
	$(function() {
		$( "#accordion" ).accordion({
			eventType: 'click',
			autoClose: false,
			saveState: true,
			disableLink: true,
			showCount: true,
			speed: 'fast'
					})
	});
	$(function() {
		$( "#accordionResizer" ).resizable({
			minHeight: 140,
			resize: function() {
				$( "#accordion" ).accordion( "resize" );
			}
		});
	});
	</script>






<div id="accordion">
	<h3><a href="#">Inicio</a></h3>
	<div>
		
		<%= link_to "Menú principal del administrador del sitema", ppal_admin_index_path, :class => "" %>
		
	</div>
	<h3><a href="#">Mantenimiento</a></h3>
	<div>
		<ul>

			<li><%= link_to "Alquileres", alquileres_path, :class => "" %></li>
            <li><%= link_to "Areas de Conocimiento", areas_conocimientos_index_path, :class => "" %></li>
			<li><%= link_to "Configuraciones", configuraciones_path, :class => "" %></li>
			<li><%= link_to "Dependencias", dependencias_index_path, :class => "" %></li>
			<li><%= link_to "Editoriales", editoriales_index_path, :class => "" %></li>
			<li><%= link_to "Ejemplares", ejemplares_index_path, :class => "" %></li>
			<li><%= link_to "Librerias", librerias_index_path, :class => "" %></li>
			<li><%= link_to "Libros", libros_index_path, :class => "" %></li>
			<li><%= link_to "Noticias", noticias_path, :class => "" %></li>

		</ul>
	</div>
	<h3><a href="#">Reportes</a></h3>
	<div>
		<ul>
			<li><%= link_to "Libros adquiridos", ppal_admin_adquiridos_path, :class => "" %></li>
		</ul>
	</div>
	<h3><a href="#">Usuarios</a></h3>
	<div>
		<ul>
			<li><%= link_to "Listado de usuarios", usuarios_path, :class => "" %></li>
		</ul>
	</div>
</div>

