<!DOCTYPE html>
<html>
<head>
  <title>..::Bolsa del Libro::..</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
 
</head>
<body class="<%= controller.controller_name %>">

	
		<% usuario = Usuario.find(session[:usuario_id]) %>
		
		<div class="Header">

			<div class="logo"><%= link_to "", ppal_admin_index_path %></div> 
			<div class="titulo_banner"><%= button_to 'Cerrar Sesion', logout_path, :method => :delete, :id => "csesion" %></div>
			<div class="panel">
				<% if session[:usuario_id] %>
					<a class = "usuario">Usuario: <%= usuario.nombre %></a> 
				<% end %>
			</div>

		<%= render(:partial => "layouts/menu") %>
		</div>

        <!--<div class = "borde_superior"></div>-->
		<div class="Contenido_admin">
				<%= render(:partial => "layouts/menu_administrador") %>				
			<div id="columns">

				<div id="lateral">
 				  	<% if(params[:visible] == 1)%>
						<%= render(:partial => "ppal_admin/top_libros") %>		
					<% end%>
				</div>

				<div id="main">
					<div class = "migas">Usted está aquí: <%= render_breadcrumbs :separator => ' / ' %></div>
					<%= yield %>
				</div>

			</div>
		</div>
		<!--<div class="push"></div>-->	
		
	

	<!--<div class = "borde_inferior"></div>-->
	<%= render(:partial => "layouts/footer") %>

</body>
</html>
