<!DOCTYPE html>
<html>
<head>
  <title>..::Bolsa del Libro::..</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
 
</head>
<body>

	<div class="wrapper">

		<%= render(:partial => "layouts/menu") %>
		<div class="Header">
			<div class="logo"><%= link_to "", inicio_index_path %></div> 
			<div class="panel">
    		<button id="acceder">Iniciar sesión</button>			
			<%= link_to "Catálogo de libros", inicio_catalogo_path, :id => "links" %>
			</div>
		</div>

        <div class = "borde_superior"></div>

		<div class="Contenido">			
			<%= yield %>
		</div>

	
		<!--<div class="push"></div>-->	
		
	</div>

	<div class = "borde_inferior"></div>
	<div class="Footer">
			<div class="Footer-text">
				<ul>
					<li class ="nolink">Información General</li>
					<li>Informes de Gestión</li>
					<li>Catálogo de libros</li>
					<li>Nuevas Adquisiciones</li>
					<li>Publicaciones Periódicas</li>
					<li>Bases de Datos</li>
					<li>Sugerencia</li>
				</ul>
				<ul>
					<li class ="nolink">Enlaces de Interés:</li>
					<li>Centro de Computación</li>
					<li>Control de Estudios</li>
					<li>Servicio Comunitario</li>
					<li>CENEAC</li>
					<li>LOCTI</li>
					<li>Servicio de Orientación</li>
				</ul>
				<ul>
					<li class ="nolink">Av. Los Ilustres,</li>
					<li class ="nolink">Los Chaguaramos.</li>
					<li class ="link"><a href="http://www.ciens.ucv.ve" target="_blank">Facultad de Ciencias,</a></li>
					<li class ="link"><a href="http://www.ucv.ve" target="_blank">Universidad Central de Venezuela.</a></li>
					<li class ="nolink">Caracas zona postal 1040</li>
					<li class ="nolink">Apartado Postal 20513</li>
					<li class ="nolink">Teléfono: (58212) 6051671/ 1665 / 2136 (FAX)</li>
				</ul>					
			</div>
	</div>

</body>
</html>
