<!DOCTYPE html>
<html>
<head>
  <title>..::Bolsa del Libro::..</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
 
</head>
<body>

	<div class="wrapper">

		<%= render(:partial => "layouts/menu") %>
		<div class="Header">
			<div class="logo"></div> 
			<div class="panel">
    		<button id="acceder">Iniciar sesi&oacute;n</button>			
			<button id="catalogo"><%= button_to "Catálogo de libros", inicio_catalogo_path, :id => "" %></button>
			</div>
		</div>

        <div class = "borde_superior"></div>

		<div class="Contenido">			
			<%= yield %>
		</div>

	
		<!--<div class="push"></div>-->	
		
	</div>

	<div class = "borde_inferior"></div>
	<div class="Footer">
			<div class="Footer-text">
				<ul>
					<li>Información General</li>
					<li>Informes de Gesti&oacute;n</li>
					<li>Catálogo de libros</li>
					<li>Nuevas Adquisiciones</li>
					<li>Publicaciones Peri&oacute;dicas</li>
					<li>Bases de Datos</li>
					<li>Sugerencia</li>
				</ul>
				<ul>
					<li>Enlaces de Inter&eacute;s:</li>
					<li>Centro de Computaci&oacute;n</li>
					<li>Control de Estudios</li>
					<li>Servicio Comunitario</li>
					<li>CENEAC</li>
					<li>LOCTI</li>
					<li>Servicio de Orientaci&oacute;n</li>
				</ul>
				<ul>
					<li>Av. Los Ilustres,</li>
					<li>Los Chaguaramos.</li>
					<li>Facultad de Ciencias,</li>
					<li>Universidad Central de Venezuela.</li>
					<li>Caracas zona postal 1040</li>
					<li>Apartado Postal 20513</li>
					<li>Teléfono: (58212) 6051671/ 1665 / 2136 (FAX)</li>
				</ul>					
			</div>
	</div>

</body>
</html>
