<!DOCTYPE html>
<html>
<head>
  <title>..::Bolsa del Libro::..</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
 
</head>
<body class="<%= controller.controller_name %>">

	<div class="wrapper">
	<% usuario = Usuario.find(session[:usuario_id]) %>
		<%= render(:partial => "layouts/menu") %>
		<div class="Header">
			<div class="logo"><%= link_to "", ppal_estudiante_index_path %></div> 
			<div class="titulo_banner"><p>Bolsa del Libro</p></ br><p>Servicio de Prestamo Rental</p></div>
			<div class="panel">
    		<a class = "usuario">Usuario: <%= usuario.nombre %></a> <% if session[:usuario_id] %> <%= button_to 'Cerrar Sesion', logout_path, :method => :delete, :class => 'cerrar-sesion' %><% end %>
			</div>
		</div>

        <div class = "borde_superior"></div>

		<div class="Contenido_estud">
			<%= render(:partial => "layouts/menu_estudiante") %>			
			<div id="columns">
				<div id="side">

					<%= hidden_div_if(@cart.line_item.empty?, :id => 'cart') do %>
						<%= render @cart %>
					<% end %>

			
				</div>
				<div id="main">
					<div class = "migas"><%= render_breadcrumbs :separator => ' / ' %></div>
					<%= yield %>
				</div>
			</div>
		</div>

	
		<!--<div class="push"></div>-->		
		
	</div>

	<div class = "borde_inferior"></div>
	<div class="Footer">
			<div class="Footer-text">
				<ul>
					<li class ="nolink">Información General</li>
					<li>Informes de Gestión</li>
					<li>Catálogo de libros</li>
					<li>Nuevas Adquisiciones</li>
					<li>Publicaciones Periódicas</li>
					<li>Bases de Datos</li>
					<li>Sugerencia</li>
				</ul>
				<ul>
					<li class ="nolink">Enlaces de Interés:</li>
					<li>Centro de Computación</li>
					<li>Control de Estudios</li>
					<li>Servicio Comunitario</li>
					<li>CENEAC</li>
					<li>LOCTI</li>
					<li>Servicio de Orientación</li>
				</ul>
				<ul>
					<li class ="nolink">Av. Los Ilustres,</li>
					<li class ="nolink">Los Chaguaramos.</li>
					<li class ="link"><a href="http://www.ciens.ucv.ve" target="_blank">Facultad de Ciencias,</a></li>
					<li class ="link"><a href="http://www.ucv.ve" target="_blank">Universidad Central de Venezuela.</a></li>
					<li class ="nolink">Caracas zona postal 1040</li>
					<li class ="nolink">Apartado Postal 20513</li>
					<li class ="nolink">Teléfono: (58212) 6051671/ 1665 / 2136 (FAX)</li>
				</ul>					
			</div>
	</div>

</body>
</html>
