<%= form_for(@editorial) do |f| %>
  <% if @editorial.errors.any? %>
    <div id="error_explanation">
     <h2><%= t('errors.template.header', :count=>@editorial.errors.size,:model=>t('activerecord.models.editorial')) %>.</h2>
	 <p><%= t('errors.template.body') %></p>

      <ul>
      <% @editorial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>
<% end %>
